USE [master]
GO
/****** Object:  Database [GTI]    Script Date: 06/11/2025 11:50:49 ******/
CREATE DATABASE [GTI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GTI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GTI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GTI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GTI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GTI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GTI]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 06/11/2025 11:50:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [varchar](20) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[RG] [varchar](20) NULL,
	[DataExpedicao] [datetime] NULL,
	[OrgaoExpedicao] [varchar](50) NULL,
	[UF] [varchar](2) NULL,
	[DataNascimento] [datetime] NOT NULL,
	[Sexo] [varchar](10) NULL,
	[EstadoCivil] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnderecoCliente]    Script Date: 06/11/2025 11:50:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnderecoCliente](
	[EnderecoID] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[CEP] [varchar](10) NULL,
	[Logradouro] [varchar](100) NULL,
	[Numero] [varchar](10) NULL,
	[Complemento] [varchar](50) NULL,
	[Bairro] [varchar](50) NULL,
	[Cidade] [varchar](50) NULL,
	[UF] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnderecoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EnderecoCliente]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCliente]    Script Date: 06/11/2025 11:50:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteCliente]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM EnderecoCliente WHERE ClienteID = @Id;
    DELETE FROM Cliente WHERE ClienteID = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClienteId]    Script Date: 06/11/2025 11:50:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetClienteId]
    @Id INT
AS
BEGIN
    SELECT 
        C.ClienteID,
        C.Nome,
        C.CPF,
        C.RG,
        C.OrgaoExpedicao,
        C.UF AS UfCliente,
        C.DataExpedicao,
        C.DataNascimento,
        C.Sexo,
        C.EstadoCivil,

        E.EnderecoID,
        E.CEP,
        E.Logradouro,
        E.Numero,
        E.Complemento,
        E.Bairro,
        E.Cidade,
        E.UF AS UfEndereco

    FROM Cliente AS C
    INNER JOIN EnderecoCliente AS E
        ON C.ClienteID = E.ClienteID
    WHERE C.ClienteID = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClientes]    Script Date: 06/11/2025 11:50:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetClientes]
AS
BEGIN
    SELECT 
        c.ClienteID,
        c.Nome,
        c.CPF,
        c.RG,
        c.DataExpedicao,
        c.OrgaoExpedicao,
        c.UF AS UfCliente,
        c.DataNascimento,
        c.Sexo,
        c.EstadoCivil,
        e.EnderecoID,
        e.CEP,
        e.Logradouro,
        e.Numero,
        e.Complemento,
        e.Bairro,
        e.Cidade,
        e.UF AS UfEndereco
    FROM Cliente c
    LEFT JOIN EnderecoCliente e ON e.ClienteID = c.ClienteID
    ORDER BY c.Nome;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCliente]    Script Date: 06/11/2025 11:50:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertCliente]
    @Nome varchar(100),
    @Cpf varchar(20),
    @Rg varchar(20),
    @OrgaoExpedicao varchar(50),
    @UfExpedicao varchar(2),
    @Sexo varchar(10),
    @EstadoCivil varchar(20),
    @DataNascimento datetime,
    @DataExpedicao datetime,
    @Endereco varchar(200),
    @Complemento varchar(50),
    @Numero varchar(20),
    @Bairro varchar(50),
    @Cidade varchar(50),
    @Cep varchar(10),
    @Uf varchar(2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Cliente
        (Nome, CPF, RG, OrgaoExpedicao, UF, Sexo, EstadoCivil, DataNascimento, DataExpedicao)
    VALUES
        (@Nome, @Cpf, @Rg, @OrgaoExpedicao, @UfExpedicao, @Sexo, @EstadoCivil, @DataNascimento, @DataExpedicao);

    DECLARE @Id INT = SCOPE_IDENTITY();

    INSERT INTO EnderecoCliente
        (ClienteID, CEP, Logradouro, Numero, Complemento, Bairro, Cidade, UF)
    VALUES
        (@Id, @Cep, @Endereco, @Numero, @Complemento, @Bairro, @Cidade, @Uf);

    SELECT @Id AS  Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCliente]    Script Date: 06/11/2025 11:50:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateCliente]
    @Id INT,
    @Nome varchar(100),
    @Cpf varchar(20),
    @Rg varchar(20),
    @OrgaoExpedicao varchar(50),
    @UfExpedicao varchar(2),
    @Sexo varchar(10),
    @EstadoCivil varchar(20),
    @DataNascimento datetime,
    @DataExpedicao datetime,
    @Endereco varchar(200),
    @Complemento varchar(50),
    @Numero varchar(20),
    @Bairro varchar(50),
    @Cidade varchar(50),
    @Cep varchar(10),
    @Uf varchar(2)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Cliente
    SET Nome = @Nome,
        CPF = @Cpf,
        RG = @Rg,
        OrgaoExpedicao = @OrgaoExpedicao,
        UF = @UfExpedicao,
        Sexo = @Sexo,
        EstadoCivil = @EstadoCivil,
        DataNascimento = @DataNascimento,
        DataExpedicao = @DataExpedicao
    WHERE ClienteID = @Id;

    UPDATE EnderecoCliente
    SET Logradouro = @Endereco,
        Complemento = @Complemento,
        Numero = @Numero,
        Bairro = @Bairro,
        Cidade = @Cidade,
        CEP = @Cep,
        UF = @Uf
    WHERE ClienteID = @Id;
END
GO
USE [master]
GO
